@model XpertAditusUI.Models.CollegeProfile

<div>
    <h4>CollegeProfile</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CollegeContact)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CollegeContact)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CollegeEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CollegeEmail)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogoPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogoPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttachementPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttachementPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reviews)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reviews)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ratings)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ratings)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CollegeWebsiteLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CollegeWebsiteLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.About)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.About)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CollegeAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CollegeAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CityId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CityId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DistrictId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DistrictId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StateId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StateId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CountryId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CountryId)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedByNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedByNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Login.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedByNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedByNavigation.Id)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="RegisteredColleges" class="btn btn-primary">Back to List</a>
</div>
