@using XpertAditusUI.Models
@model Padisclaimer
@{
    bool testCompleted = Convert.ToBoolean(ViewBag.TestCompleted);
}
@if ((bool)ViewBag.MonthlyTestAvailable)
{
    @if (testCompleted)
    {
        <div>
            <img src="/images/examclear.jpeg" width="100%" />
        </div>
    }
    else
    {
        <div class="dashboard-headline">
            <h3>Test Disclaimer/Instruction</h3>
        </div>
        <!-- Row -->
        <div class="row">
            <!-- Dashboard Box -->
            <div class="col-xl-12">
                <div class="dashboard-box margin-top-0">

                    <!-- Headline -->
                    <div class="headline">
                        <h3><i class="icon-material-outline-assignment"></i>Available Test</h3>
                    </div>

                    <div class="content">
                        <ul class="dashboard-box-list">

                            <li>
                                <div class="job-listing width-adjustment">

                                    <!-- Job Listing Details -->
                                    <div class="job-listing-details">

                                        <!-- Details -->
                                        <div class="job-listing-description">
                                            <h3 class="job-listing-title"><a href="#">Course : @ViewBag.Course.Name</a> </h3>

                                            <!-- Job Listing Footer -->
                                            <div class="job-listing-footer">
                                                <ul>
                                                    <li>Course Description : @ViewBag.Course.Description</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Task Details -->
                                <ul class="dashboard-task-info">
                                    <li><strong>@ViewData["Attempt"].ToString()</strong><span>Attempt</span></li>
                                    <li>
                                        <strong>
                                            @*@ViewBag.Course.TestDuration hours*@
                                        </strong><span>TestDuration</span>
                                    </li>
                                    <li><strong>@ViewData["PassingCriteria"].ToString()%</strong><span>Passing Marks</span></li>
                                </ul>

                            </li>
                            @if (Model != null)
                            {

                                <li>
                                    <div class="job-listing">

                                        <!-- Job Listing Details -->
                                        <div class="job-listing-details">

                                            <!-- Details -->
                                            <div class="job-listing-description">
                                                <h3 class="job-listing-title">Disclaimer</h3>
                                                <input type="hidden" value="@Model.PadisclaimerId" id="" />
                                                <!-- Job Listing Footer -->
                                                <div class="job-listing-footer">
                                                    @Html.Raw(Model.Instruction)

                                                    <div style="margin:10px;">
                                                        <input id="chkAccepted" type="checkbox">
                                                        <label for="" style="padding-left:5px; display:inline;"> I Accept Terms & Conditions</label>
                                                        <br />
                                                        <button class="button ripple-effect" style="display:block;" onclick="PACheckAccepted()">StartNow</button>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        @section Scripts {
            <script type="text/javascript">

            function PACheckAccepted() {
                if ($("#chkAccepted")[0].checked) {
                    SavePADisclaimer();
                }
                else {
                    alert("Please read disclaimer and accept it.")
                }
            }

            function SavePADisclaimer() {
                var DisclaimerData = [];
                var rootPath = window.location.protocol + "//" + window.location.host + "/PADisclaimerAccepted/PADisclaimerAccepted?disclaimerId=@{ if (Model != null)
                    { @Model.PadisclaimerId.ToString();
                    } }&monthlytestid=@ViewData["MonthlyTestID"].ToString()";
                $.ajax({
                    url: rootPath,
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    data: JSON.stringify(DisclaimerData),
                    success: function (result) {
                        if (result.error) {
                            alert(result.message)
                        }
                        else {
                            StartPATest();
                        }
                    }
                });
            }

            function StartPATest() {
                $.ajax({
                    url: window.location.origin + "/PATest/StartPATest/?monthlyTestID=@ViewData["MonthlyTestID"].ToString()",
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (result) {
                        if (result.error) {
                            alert(result.message)
                        }
                        window.location = window.location.origin + '/PATest/PATest/?monthlyTestID=@ViewData["MonthlyTestID"].ToString()';
                    },

                });
            }
            </script>
        }
    }
}
else
{
    <h1>No Monthly Test Available</h1>
}